body, html {
    background-color: rgb(22, 187, 228);
    height: 97%;
    margin: 0;
}

.usercard, .main {
    float: left;
    height: 100%;
    background-color: rgb(4, 146, 146);
    border-radius: 30px;
    margin: 1.2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1, h3 {
    margin: 0px;
}

a:visited, a:link, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.usercard {
    text-align: center;
    width: 23.5%;
}

.profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    border-radius: 100%;
    width: 85%;
    margin-top: 7%;
}

.username {
    display: inline-block;
    margin: 1%;
    color: rgb(41, 41, 41);
    font-size: 1.8vw;
}

.pronounce {
    margin: 12px;
    margin-bottom: -12px;
}

.bio {
    display: inline-block;
    width: 85%;
    font-size: 1.2vw;
    margin-bottom: -12px;
}

.fa-tumblr {
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 3px;
    margin-right: 3px;
}

.links {
    font-size: 1.9vw;
    color: rgb(19, 38, 100);
    display: inline-block;
    padding-top: 5%;
}

.main {
    width: 72.5%;
    margin-left: 0.2%;
}