body, html {
    background-color: rgb(22, 187, 228);
    height: 97%;
    margin: 0;
}

.cards {
    float: left;
    height: 100%;
    background-color: rgb(4, 146, 146);
    border-radius: 30px;
    margin: 1.2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1, h3, p {
    margin: 0px;
}

a:visited, a:link, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.links, .bio, .username, .profile {
    display: inline-block;
    color: rgb(19, 38, 100);
}

.usercard {
    text-align: center;
    width: 23.5%;
}

.profile {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 100%;
    width: 85%;
    margin-top: 7%;
}

.username {
    margin: 1%;
    margin-bottom: 4%;
    font-size: 3.7vmin;
    text-shadow: 0 6px 20px rgba(0, 0, 0, 0.19);
}

.pronounce {
    margin: 12px;
    margin-bottom: -12px;
}

.line {
    display: inherit;
    margin-top: 20px;
    width: 80%;
    height: 3px;
    background-color: rgb(19, 38, 100);;
}

.bio {
    width: 85%;
    height: 25%;
    font-size: 2.5vmin;
    background-color: rgb(69, 190, 190);
    border-radius: inherit;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa-tumblr {
    padding-left: 3px;
    padding-right: 3px;
}

.links {
    font-size: 4vmin;
    padding-top: 3vmin;
    text-shadow: 0 6px 20px rgba(0, 0, 0, 0.19);
}

body:has(.ico:hover) .links {
    padding-top: 1vmin;
}

body:has(.fa-tumblr:hover) .links {
    padding-top: 1.5vmin;
}

.ico:hover {
    font-size: 6vmin;
}

.main {
    width: 72.5%;
    margin-left: 0.2%;
}

.sub {
    background-color: rgb(58, 177, 177);
    width: 25%;
    height: 40%;
    padding: 2%;
    margin: 2%;
    margin-left: 2.2%;
    margin-top: 1.9%;
}

.hidden {
    display: none;
}