body, html {
    background-color: rgb(22, 187, 228);
    height: 97%;
    margin: 0;
}

.usercard, .main {
    float: left;
    height: 100%;
    background-color: rgb(4, 146, 146);
    border-radius: 30px;
    margin: 1.2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1, h3, p {
    margin: 0px;
}

a:visited, a:link, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.usercard {
    text-align: center;
    width: 23.5%;
}

.profile {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    border-radius: 100%;
    width: 85%;
    margin-top: 7%;
}

.username {
    display: inline-block;
    margin: 1%;
    margin-bottom: 4%;
    color: rgb(14, 46, 110);
    font-size: 3.7vmin;
    text-shadow: 0 6px 20px rgba(0, 0, 0, 0.19);
}

.pronounce {
    margin: 12px;
    margin-bottom: -12px;
}

.line {
    display: inherit;
    margin-top: 20px;
    width: 80%;
    height: 3px;
    background-color: rgb(0, 11, 31);

}

.bio {
    display: inline-block;
    width: 85%;
    height: 25%;
    font-size: 2.5vmin;
    color: rgb(0, 11, 31);
    background-color: rgb(69, 190, 190);
    border-radius: inherit;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa-tumblr {
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 3px;
    margin-right: 3px;
}

.links {
    font-size: 4vmin;
    color: rgb(19, 38, 100);
    display: inline-block;
    padding-top: 5%;
    text-shadow:0 6px 20px rgba(0, 0, 0, 0.19);
}

.main {
    width: 72.5%;
    margin-left: 0.2%;
}